<!-- <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Ionic Image Upload
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <h3 text-center>Please Select Image!</h3>
   
    <ion-list>
      <ion-item text-wrap>
        <ion-thumbnail slot="start">
          <ion-img src="https://images.unsplash.com/photo-1524008759167-92256cad01a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"></ion-img>
        </ion-thumbnail>
        <ion-label>
      
        </ion-label>
        <ion-button slot="end" fill="clear" >
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
   
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button fill="clear" expand="full" color="light">
        <ion-icon slot="start" name="camera"></ion-icon>
        Select Image</ion-button>

    </ion-toolbar>
  </ion-footer>

<!-- </ion-toolbar>
</ion-header> -->
 -->

 <ion-header>
   <ion-toolbar>
     <ion-title>
       Image Gallery
     </ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content padding>
<ion-segment>
  <ion-segment-button value="regular">
    Regular
  </ion-segment-button>
  <ion-segment-button  value="pinterest">
  Pinterest
  </ion-segment-button>

  <ion-thumbnail>
    <img src="https://images.unsplash.com/photo-1516762689617-e1cffcef479d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=954&q=80">
  </ion-thumbnail>

</ion-segment>


</ion-content>
