<ion-header>
  <ion-toolbar>
    <ion-title>Suits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-justify-content-center" (click)="openSuitsBlazer()">
        <ion-item class="ion-justify-content-center" lines="none"  inner-pading-top="50px">
          <!-- <div> -->
            <!-- <ion-thumbnail> -->
                <ion-img width="200" height="100" src="assets/suits-blazer.jpeg"></ion-img>
              <!-- </ion-thumbnail> -->
            <!-- </div> -->
          </ion-item>
          <ion-item > 
            <ion-label>Blazer</ion-label>
          </ion-item>   
          
        
      </ion-card>

      <ion-card class="ion-justify-content-center" (click)="openSuitsTuxedo()">
          <ion-item class="ion-justify-content-center" lines="none"  inner-pading-top="50px">
            <!-- <div> -->
              <!-- <ion-thumbnail> -->
                  <ion-img width="200" height="100" src="assets/suits-tuxedo.jpeg"></ion-img>
                <!-- </ion-thumbnail> -->
              <!-- </div> -->
            </ion-item>
            <ion-item > 
              <ion-label>Tuxedo</ion-label>
            </ion-item>   
            
          
        </ion-card>

        <ion-card class="ion-justify-content-center" (click)="openSuitsSuit()">
            <ion-item class="ion-justify-content-center" lines="none"  inner-pading-top="50px">
              <!-- <div> -->
                <!-- <ion-thumbnail> -->
                    <ion-img width="200" height="100" src="assets/suits-suit.jpeg"></ion-img>
                  <!-- </ion-thumbnail> -->
                <!-- </div> -->
              </ion-item>
              <ion-item > 
                <ion-label>Suit</ion-label>
              </ion-item>   
              
            
          </ion-card>

        <ion-card class="ion-justify-content-center" (click)="openSuitsVest()">
            <ion-item class="ion-justify-content-center" lines="none"  inner-pading-top="50px">
              <!-- <div> -->
                <!-- <ion-thumbnail> -->
                    <ion-img width="200" height="100" src="assets/suits-vest.jpeg"></ion-img>
                  <!-- </ion-thumbnail> -->
                <!-- </div> -->
              </ion-item>
              <ion-item > 
                <ion-label>Vest</ion-label>
              </ion-item>   
              
            
          </ion-card>

</ion-content>
