ion-img {
max-height: 50px;
max-width: 50px;
padding: 5px 5px 5px 5px;
padding-bottom: 5px;
}
ion-button {
 padding: 0px 0px 0px 0px !important;
}
.img-button {
    padding: 0px !important;
}
button-native {
    padding: 0px;
}