<ion-header>
  <ion-toolbar>
    <ion-title>Add Shirt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item>
        <ion-label>What item do you want to add?</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value="jacket">Jacket</ion-select-option>
          <ion-select-option value="shirt">Shirt</ion-select-option>
          <ion-select-option value="pants">Pants</ion-select-option>
          <ion-select-option value="shoes">Shoes</ion-select-option>
          <ion-select-option value="sweater">Sweater</ion-select-option>
        </ion-select>
      </ion-item> -->

  <ion-item>
    <ion-label>What is the main color?</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="white">White</ion-select-option>
      <ion-select-option value="blue">Blue</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="grey">Grey</ion-select-option>
      <ion-select-option value="purple">Purple</ion-select-option>
      <ion-select-option value="yellow">Yellow</ion-select-option>
      <ion-select-option value="pink">Pink</ion-select-option>
      <!-- <ion-select-option value="plaid">Plaid</ion-select-option> -->
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-label>What is the shade of the color?</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
        <ion-select-option value="medium-shade">Medium</ion-select-option>
        <ion-select-option value="light-shade">Light</ion-select-option>
        <ion-select-option value="dark-shade">Dark</ion-select-option>
      </ion-select>
    </ion-item>

  <!-- <ion-item>
    <ion-label>Short Sleeve or Long Sleeve?</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
      <ion-select-option value="long-sleeve">Long Sleeve</ion-select-option>
      <ion-select-option value="short-sleeve">Short Sleeve</ion-select-option>
    </ion-select>
  </ion-item> -->

  <ion-item>
    <ion-label>Is the shirt Button up?</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
      <ion-select-option value="button-up">Button-up</ion-select-option>
      <ion-select-option value="no-button-up">No Button-up</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
